<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/Header')%>
  <body class="home">
    <%- include('../partials/Loader') %>
    <div id="page" class="full-page">
      <%- include('../partials/Navbar.ejs')%>
      <main id="content" class="site-main">
        <!-- Home slider html start -->
        <section class="home-slider-section">
          <div class="home-slider">
            <div class="home-banner-items">
              <div
                class="banner-inner-wrap"
                style="background-image: url(/assets/images/slider-banner-1.jpg)"
              ></div>
              <div class="banner-content-wrap">
                <div class="container">
                  <div class="banner-content text-center">
                    <h2 class="banner-title">TRAVELLING AROUND THE WORLD</h2>
                    <p>
                      Taciti quasi, sagittis excepteur hymenaeos, id temporibus
                      hic proident ullam, eaque donec delectus tempor
                      consectetur nunc, purus congue? Rem volutpat sodales!
                      Mollit. Minus exercitationem wisi.
                    </p>
                    <a href="/continue-reading" class="button-primary">CONTINUE READING</a>
                  </div>
                </div>
              </div>
              <div class="overlay"></div>
            </div>
            <div class="home-banner-items">
              <div
                class="banner-inner-wrap"
                style="background-image: url(assets/images/slider-banner-2.jpg)"
              ></div>
              <div class="banner-content-wrap">
                <div class="container">
                  <div class="banner-content text-center">
                    <h2 class="banner-title">EXPERIENCE THE NATURE'S BEAUTY</h2>
                    <p>
                      Taciti quasi, sagittis excepteur hymenaeos, id temporibus
                      hic proident ullam, eaque donec delectus tempor
                      consectetur nunc, purus congue? Rem volutpat sodales!
                      Mollit. Minus exercitationem wisi.
                    </p>
                    <a href="#" class="button-primary">CONTINUE READING</a>
                  </div>
                </div>
              </div>
              <div class="overlay"></div>
            </div>
          </div>
        </section>
        <!-- slider html end -->
        <!-- Home search field html start -->
        <div class="trip-search-section shape-search-section">
          <div class="slider-shape"></div>
          <div class="container">
            <form action="/tour-packages" method="GET" class="w-100 d-flex">
            <div class="trip-search-inner white-bg d-flex">
                <div class="input-group">
                  <label> Search Destination* </label>
                  <input type="text" name="destination" placeholder="Enter Destination" />
                </div>
                <div class="input-group">
                  <label> Pax Number* </label>
                  <input type="number" name="pax" placeholder="No.of People" min="1" />
                </div>
                <div class="input-group width-col-3">
                  <label> Checkin Date* </label>
                  <i class="far fa-calendar"></i>
                  <input
                    class="input-date-picker"
                    type="text"
                    name="checkin"
                    placeholder="MM / DD / YY"
                    autocomplete="off"
                    readonly="readonly"
                  />
                </div>
                <div class="input-group width-col-3">
                  <label> Checkout Date* </label>
                  <i class="far fa-calendar"></i>
                  <input
                    class="input-date-picker"
                    type="text"
                    name="checkout"
                    placeholder="MM / DD / YY"
                    autocomplete="off"
                    readonly="readonly"
                  />
                </div>
                <div class="input-group width-col-3">
                  <label class="screen-reader-text"> Search </label>
                  <input type="submit" name="travel-search" value="INQUIRE NOW" />
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- search field html end -->
        <!-- Destination section html start -->
        <section class="destination-section">
          <div class="container">
            <div class="section-heading">
              <div class="row align-items-end">
                <div class="col-lg-7">
                  <h5 class="dash-style">POPULAR DESTINATION</h5>
                  <h2>TOP NOTCH DESTINATION</h2>
                </div>
                <div class="col-lg-5">
                  <div class="section-disc">
                    Aperiam sociosqu urna praesent, tristique, corrupti
                    condimentum asperiores platea ipsum ad arcu. Nostrud. Aut
                    nostrum, ornare quas provident laoreet nesciunt.
                  </div>
                </div>
              </div>
            </div>
            <div class="destination-inner destination-three-column">
              <div class="row">
                <div class="col-lg-7">
                  <div class="row">
                    <% destinations.slice(0, 2).forEach((destination, index) => { %>
                      <div class="col-sm-6">
                        <div class="desti-item overlay-desti-item">
                          <figure class="desti-image">
                            <img src="<%= destination.image || '/assets/images/img' + (index + 1) + '.jpg' %>" alt="<%= destination.name %>" />
                          </figure>
                          <div class="meta-cat bg-meta-cat">
                            <a href="/tour-packages?destination=<%= destination.name %>"><%= destination.name.toUpperCase() %></a>
                          </div>
                          <div class="desti-content"  style="bottom: 30px !important;">
                            <h3>
                              <a href="/tour-packages?destination=<%= destination.name %>"><%= destination.attraction || destination.name %></a>
                            </h3>
                            <div class="rating-start" title="Rated 5 out of <%= index === 0 ? 4 : 5 %>">
                              <span style="width: <%= index === 0 ? 53 : 100 %>%"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% }) %>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="row">
                    <% destinations.slice(2, 4).forEach((destination, index) => { %>
                      <div class="col-md-6 col-xl-12">
                        <div class="desti-item overlay-desti-item">
                          <figure class="desti-image">
                            <img src="<%= destination.image || '/assets/images/img' + (index + 3) + '.jpg' %>" alt="<%= destination.name %>" />
                          </figure>
                          <div class="meta-cat bg-meta-cat">
                            <a href="/tour-packages?destination=<%= destination.name %>"><%= destination.name.toUpperCase() %></a>
                          </div>
                          <div class="desti-content" style="bottom: 30px !important;">
                            <h3>
                              <a href="/tour-packages?destination=<%= destination.name %>"><%= destination.name %></a>
                            </h3>
                            <div class="rating-start" title="Rated 5 out of 5">
                              <span style="width: <%= index === 0 ? 100 : 60 %>%"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% }) %>
                  </div>
                </div>
              </div>
              <div class="btn-wrap text-center">
                <a href="/destination" class="button-primary">MORE DESTINATION</a>
              </div>
            </div>
          </div>
        </section>
        <!-- destination html end -->
        <!-- Packages section html start -->
        <section class="package-section">
          <div class="container">
            <div class="section-heading text-center">
              <div class="row">
                <div class="col-lg-8 offset-lg-2">
                  <h5 class="dash-style">EXPLORE GREAT PLACES</h5>
                  <h2>POPULAR PACKAGES</h2>
                  <p>
                    Mollit voluptatem perspiciatis convallis elementum corporis
                    quo veritatis aliquid blandit, blandit torquent, odit
                    placeat. Adipiscing repudiandae eius cursus? Nostrum magnis
                    maxime curae placeat.
                  </p>
                </div>
              </div>
            </div>
            <div class="package-inner">
              <div class="row">
                <% packages.forEach((pkg, index) => { %>
                  <div class="col-lg-4 col-md-6">
                    <div class="package-wrap">
                      <figure class="feature-image">
                        <a href="/package-detail/<%= pkg._id %>">
                          <img src="/uploads/gallery/<%= pkg.featuredImage %>"  alt="<%= pkg.title %>" />
                        </a>
                      </figure>
                      <div class="package-price">
                        <h6><span>$<%= pkg.regularPrice.toFixed(2) %></span> / per person</h6>
                      </div>
                      <div class="package-content-wrap">
                        <div class="package-meta text-center">
                          <ul>
                            <li><i class="far fa-clock"></i> <%= pkg.duration %></li>
                            <li><i class="fas fa-user-friends"></i> People: <%= pkg.groupSize %></li>
                            <li><i class="fas fa-map-marker-alt"></i> <%= pkg.destinationCountry %></li>
                          </ul>
                        </div>
                        <div class="package-content">
                          <h3>
                            <a href="/package-detail/<%= pkg._id %>"><%= pkg.title %></a>
                          </h3>
                          <div class="review-area">
                            <span class="review-text">(<%= pkg.reviewCount %> reviews)</span>
                            <div class="rating-start" title="Rated <%= pkg.averageRating %> out of 5">
                              <span style="width: <%= pkg.averageRating * 20 %>%"></span>
                            </div>
                          </div>
                          <p><%= pkg.shortDescription || 'Lorem ipsum dolor sit amet, consectetur adipiscing elit luctus nec ullam. Ut elit tellus, luctus nec ullam elit tellpus.' %></p>
                          <div class="btn-wrap">
                            <a href="/bookPackage/<%= pkg._id %>" class="button-text width-6">Book Now<i class="fas fa-arrow-right"></i></a>
                            <a href="#" class="wishlist-toggle button-text width-6" data-package-id="<%= pkg._id %>" data-is-wishlisted="<%= pkg.isWishlisted %>">
                              <%= pkg.isWishlisted ? 'Remove' : 'Wish List' %>
                              <i class="<%= pkg.isWishlisted ? 'fas fa-heart' : 'far fa-heart' %>"></i>
                          </a>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% }) %>
              </div>
              <div class="btn-wrap text-center">
                <a href="/tour-packages" class="button-primary">VIEW ALL PACKAGES</a>
              </div>
            </div>
          </div>
        </section>
        <!-- packages html end -->
        <!-- Callback section html start -->
        <section class="callback-section">
          <div class="container">
            <div class="row no-gutters align-items-center">
              <div class="col-lg-5">
                <div
                  class="callback-img"
                  style="background-image: url(/assets/images/img8.jpg)"
                >
                  <div class="video-button">
                    <a id="video-container" data-video-id="IUN664s7N-c">
                      <i class="fas fa-play"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="callback-inner">
                  <div class="section-heading section-heading-white">
                    <h5 class="dash-style">CALLBACK FOR MORE</h5>
                    <h2>GO TRAVEL. DISCOVER. REMEMBER US!!</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Ut elit tellus, luctus nec ullamcorper mattis, pulvinar
                      dapibus leo. Eaque adipiscing, luctus eleifend.
                    </p>
                  </div>
                  <div class="callback-counter-wrap">
                    <div class="counter-item">
                      <div class="counter-icon">
                        <img src="/assets/images/icon1.png" alt="" />
                      </div>
                      <div class="counter-content">
                        <span class="counter-no">
                          <span class="counter">500</span>K+
                        </span>
                        <span class="counter-text"> Satisfied Clients </span>
                      </div>
                    </div>
                    <div class="counter-item">
                      <div class="counter-icon">
                        <img src="/assets/images/icon2.png" alt="" />
                      </div>
                      <div class="counter-content">
                        <span class="counter-no">
                          <span class="counter">250</span>K+
                        </span>
                        <span class="counter-text"> Satisfied Clients </span>
                      </div>
                    </div>
                    <div class="counter-item">
                      <div class="counter-icon">
                        <img src="/assets/images/icon3.png" alt="" />
                      </div>
                      <div class="counter-content">
                        <span class="counter-no">
                          <span class="counter">15</span>K+
                        </span>
                        <span class="counter-text"> Satisfied Clients </span>
                      </div>
                    </div>
                    <div class="counter-item">
                      <div class="counter-icon">
                        <img src="/assets/images/icon4.png" alt="" />
                      </div>
                      <div class="counter-content">
                        <span class="counter-no">
                          <span class="counter">10</span>K+
                        </span>
                        <span class="counter-text"> Satisfied Clients </span>
                      </div>
                    </div>
                  </div>
                  <div class="support-area">
                    <div class="support-icon">
                      <img src="/assets/images/icon5.png" alt="" />
                    </div>
                    <div class="support-content">
                      <h4>Our 24/7 Emergency Phone Services</h4>
                      <h3>
                        <a href="#">Call: 123-456-7890</a>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- callback html end -->
        <!-- Activity section html start -->
        <section class="activity-section">
          <div class="container">
            <div class="section-heading text-center">
              <div class="row">
                <div class="col-lg-8 offset-lg-2">
                  <h5 class="dash-style">TRAVEL BY ACTIVITY</h5>
                  <h2>ADVENTURE & ACTIVITY</h2>
                  <p>
                    Mollit voluptatem perspiciatis convallis elementum corporis
                    quo veritatis aliquid blandit, blandit torquent, odit
                    placeat. Adipiscing repudiandae eius cursus? Nostrum magnis
                    maxime curae placeat.
                  </p>
                </div>
              </div>
            </div>
            <div class="activity-inner row">
              <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="activity-item">
                  <div class="activity-icon">
                    <a href="#">
                      <img src="/assets/images/icon6.png" alt="" />
                    </a>
                  </div>
                  <div class="activity-content">
                    <h4>
                      <a href="#">Adventure</a>
                    </h4>
                    <!-- <p>15 Destination</p> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="activity-item">
                  <div class="activity-icon">
                    <a href="#">
                      <img src="/assets/images/icon10.png" alt="" />
                    </a>
                  </div>
                  <div class="activity-content">
                    <h4>
                      <a href="#">Trekking</a>
                    </h4>
                    <!-- <p>12 Destination</p> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="activity-item">
                  <div class="activity-icon">
                    <a href="#">
                      <img src="/assets/images/icon9.png" alt="" />
                    </a>
                  </div>
                  <div class="activity-content">
                    <h4>
                      <a href="#">Camp Fire</a>
                    </h4>
                    <!-- <p>7 Destination</p> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="activity-item">
                  <div class="activity-icon">
                    <a href="#">
                      <img src="/assets/images/icon8.png" alt="" />
                    </a>
                  </div>
                  <div class="activity-content">
                    <h4>
                      <a href="#">Off Road</a>
                    </h4>
                    <!-- <p>15 Destination</p> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="activity-item">
                  <div class="activity-icon">
                    <a href="#">
                      <img src="/assets/images/icon7.png" alt="" />
                    </a>
                  </div>
                  <div class="activity-content">
                    <h4>
                      <a href="#">Camping</a>
                    </h4>
                    <!-- <p>13 Destination</p> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="activity-item">
                  <div class="activity-icon">
                    <a href="#">
                      <img src="/assets/images/icon11.png" alt="" />
                    </a>
                  </div>
                  <div class="activity-content">
                    <h4>
                      <a href="#">Exploring</a>
                    </h4>
                    <!-- <p>25 Destination</p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- activity html end -->
        <!-- Special offer section html start -->
        <section class="special-section">
          <div class="container">
            <div class="section-heading text-center">
              <div class="row">
                <div class="col-lg-8 offset-lg-2">
                  <h5 class="dash-style">TRAVEL OFFER & DISCOUNT</h5>
                  <h2>SPECIAL TRAVEL OFFER</h2>
                  <p>
                    Mollit voluptatem perspiciatis convallis elementum corporis
                    quo veritatis aliquid blandit, blandit torquent, odit
                    placeat. Adipiscing repudiandae eius cursus? Nostrum magnis
                    maxime curae placeat.
                  </p>
                </div>
              </div>
            </div>
            <div class="special-inner">
              <div class="row">
                <% packages.filter(pkg => pkg.discount > 0).slice(0, 3).forEach((pkg, index) => { %>
                  <div class="col-md-6 col-lg-4">
                    <div class="special-item">
                      <figure class="special-img">
                        <img src="/uploads/gallery/<%= pkg.featuredImage %>" alt="<%= pkg.title %>" />
                      </figure>
                      <div class="badge-dis">
                        <span><strong><%= pkg.discount %>%</strong> off</span>
                      </div>
                      <div class="special-content">
                        <div class="meta-cat">
                          <a href="/tour-packages?destination=<%= pkg.destinationCountry %>"><%= pkg.destinationCountry.toUpperCase() %></a>
                        </div>
                        <h3>
                          <a href="/tour-packages/<%= pkg._id %>"><%= pkg.title %></a>
                        </h3>
                        <div class="package-price">
                          Price: <del>$<%= pkg.regularPrice %></del>
                          <ins>$<%= pkg.salePrice  %></ins>
                        </div>
                      </div>
                    </div>
                  </div>
                <% }) %>
              </div>
            </div>
          </div>
        </section>
        <!-- special html end -->
        <!-- Gallery section html start -->
        <section class="best-section">
          <div class="container">
            <div class="row">
              <div class="col-lg-5">
                <div class="section-heading">
                  <h5 class="dash-style">OUR TOUR GALLERY</h5>
                  <h2>BEST TRAVELER'S SHARED PHOTOS</h2>
                  <p>
                    Aperiam sociosqu urna praesent, tristique, corrupti
                    condimentum asperiores platea ipsum ad arcu. Nostrud. Esse?
                    Aut nostrum, ornare quas provident laoreet nesciunt odio
                    voluptates etiam, omnis.
                  </p>
                </div>
                <figure class="gallery-img">
                  <img src="assets/images/img12.jpg" alt="" />
                </figure>
              </div>
              <div class="col-lg-7">
                <div class="row">
                  <div class="col-sm-6">
                    <figure class="gallery-img">
                      <img src="assets/images/img13.jpg" alt="" />
                    </figure>
                  </div>
                  <div class="col-sm-6">
                    <figure class="gallery-img">
                      <img src="assets/images/img14.jpg" alt="" />
                    </figure>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <figure class="gallery-img">
                      <img src="assets/images/img15.jpg" alt="" />
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- gallery html end -->
        <!-- Client section html start -->
        <div class="client-section">
          <div class="container">
            <div class="client-wrap client-slider secondary-bg">
              <div class="client-item">
                <figure>
                  <img src="/assets/images/logo1.png" alt="" />
                </figure>
              </div>
              <div class="client-item">
                <figure>
                  <img src="/assets/images/logo2.png" alt="" />
                </figure>
              </div>
              <div class="client-item">
                <figure>
                  <img src="/assets/images/logo3.png" alt="" />
                </figure>
              </div>
              <div class="client-item">
                <figure>
                  <img src="/assets/images/logo4.png" alt="" />
                </figure>
              </div>
              <div class="client-item">
                <figure>
                  <img src="/assets/images/logo5.png" alt="" />
                </figure>
              </div>
              <div class="client-item">
                <figure>
                  <img src="/assets/images/logo2.png" alt="" />
                </figure>
              </div>
            </div>
          </div>
        </div>
        <!-- client html end -->
        <% if(!user){%>
          <!-- Subscribe section html start -->
          <section
            class="subscribe-section"
            style="background-image: url(/assets/images/img16.jpg)"
          >
            <div class="container">
              <div class="row">
                <div class="col-lg-7">
                  <div class="section-heading section-heading-white">
                    <h5 class="dash-style">HOLIDAY PACKAGE OFFER</h5>
                    <h2>HOLIDAY SPECIAL 25% OFF !</h2>
                    <h4>
                      Sign up now to recieve hot special offers and information
                      about the best tour packages, updates and discounts !!
                    </h4>
                    <div class="newsletter-form">
                      <form action="/signupUser" method="GET">
                        <input
                          type="email"
                          name="email"
                          placeholder="Your Email Address"
                          required
                        />
                        <input type="submit" name="signup" value="SIGN UP NOW!" />
                      </form>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                      elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus
                      leo. Eaque adipiscing, luctus eleifend temporibus occaecat
                      luctus eleifend tempo ribus.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        <%}%>
        <!-- subscribe html end -->
        <!-- Blog section html start -->
        <section class="blog-section">
          <div class="container">
            <div class="section-heading text-center">
              <div class="row">
                <div class="col-lg-8 offset-lg-2">
                  <h5 class="dash-style">FROM OUR BLOG</h5>
                  <h2>OUR RECENT POSTS</h2>
                  <p>
                    Mollit voluptatem perspiciatis convallis elementum corporis
                    quo veritatis aliquid blandit, blandit torquent, odit
                    placeat. Adipiscing repudiandae eius cursus? Nostrum magnis
                    maxime curae placeat.
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <% blogs.forEach((blog, index) => { %>
                <div class="col-md-6 col-lg-4">
                  <article class="post">
                    <figure class="feature-image">
                      <a href="/blog/<%= blog._id %>">
                        <img src="/uploads/blogGallery/<%= blog.featureImage %>" alt="<%= blog.title %>" />
                      </a>
                    </figure>
                    <div class="entry-content">
                      <h3>
                        <a href="/blog/<%= blog._id %>"><%= blog.title %></a>
                      </h3>
                      <div class="entry-meta">
                        <span class="byline">
                          <a href="#"><%= blog.createdBy ? `${blog.createdBy.firstName} ${blog.createdBy.lastName}` : 'Demoteam' %></a>
                        </span>
                        <span class="posted-on">
                          <a href="#"><%= new Date(blog.postedOn).toLocaleDateString() %></a>
                        </span>
                        <span class="comments-link">
                          <a href="/blog/<%= blog._id %>#comments"><%= blog.comments ? blog.comments.length : 0 %> Comment<%= blog.comments && blog.comments.length !== 1 ? 's' : '' %></a>
                        </span>
                      </div>
                    </div>
                  </article>
                </div>
              <% }) %>
            </div>
          </div>
        </section>
        <!-- blog html end -->
        <!-- Testimonial section html start -->
        <div
          class="testimonial-section"
          style="background-image: url(/assets/images/img23.jpg)"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-10 offset-lg-1">
                <div class="testimonial-inner testimonial-slider">
                  <% testimonials.forEach((testimonial, index) => { %>
                    <div class="testimonial-item text-center">
                      <figure class="testimonial-img">
                        <img src="<%= testimonial.image  %>" alt="<%= testimonial.name %>" />
                      </figure>
                      <div class="testimonial-content">
                        <p><%= testimonial.content %></p>
                        <cite>
                          <%= testimonial.name %>
                          <span class="company"><%= testimonial.role %></span>
                        </cite>
                      </div>
                    </div>
                  <% }) %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- testimonial html end -->
        <!-- Contact details section html start -->
        <section class="contact-section">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div
                  class="contact-img"
                  style="background-image: url(/assets/images/img24.jpg)"
                ></div>
              </div>
              <div class="col-lg-8">
                <div class="contact-details-wrap">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="contact-details">
                        <div class="contact-icon">
                          <img src="/assets/images/icon12.png" alt="" />
                        </div>
                        <ul>
                          <li>
                            <a href="#">support@gmail.com</a>
                          </li>
                          <li>
                            <a href="#">info@domain.com</a>
                          </li>
                          <li>
                            <a href="#">name@company.com</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="contact-details">
                        <div class="contact-icon">
                          <img src="/assets/images/icon13.png" alt="" />
                        </div>
                        <ul>
                          <li>
                            <a href="#">+132 (599) 254 669</a>
                          </li>
                          <li>
                            <a href="#">+123 (669) 255 587</a>
                          </li>
                          <li>
                            <a href="#">+01 (977) 2599 12</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="contact-details">
                        <div class="contact-icon">
                          <img src="/assets/images/icon14.png" alt="" />
                        </div>
                        <ul>
                          <li>3146 Koontz, California</li>
                          <li>Quze.24 Second floor</li>
                          <li>36 Street, Melbourne</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="contact-btn-wrap">
                  <h3>LET'S JOIN US FOR MORE UPDATE !!</h3>
                  <a href="careers" class="button-primary">LEARN MORE</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- contact details html end -->
      </main>
      <%- include('../partials/Footer.ejs')%>
    </div>
    <%- include('../../shared/partials/toaster') %>
    <%- include('../partials/Script')%>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', () => {

        // Handle wishlist toggle
        document.querySelectorAll('.wishlist-toggle').forEach(button => {
            button.addEventListener('click', async (e) => {
                e.preventDefault();
                const packageId = button.getAttribute('data-package-id');
                const isWishlisted = button.getAttribute('data-is-wishlisted') === 'true';
                const action = isWishlisted ? 'remove' : 'add';

                try {
                    const response = await fetch(`/wishlist/${action}/${packageId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    });
                    const data = await response.json();

                    if (response.ok) {
                        window.location.reload()
                        button.setAttribute('data-is-wishlisted', !isWishlisted);
                        button.innerHTML = isWishlisted 
                        ? 'Wish List<i class="far fa-heart"></i>' 
                            : 'Remove<i class="fas fa-heart"></i>';
                    } else {

                    }
                } catch (error) {
                    console.error(`Error ${action}ing package to wishlist:`, error);

                }
            });
        });
    });
</script>
</html>