
<!doctype html>
<html lang="en">
   <%- include('../partials/Header') %>
<body>
    <div class="login-page" style="background-image: url(/assets/images/bg.jpg);">
        <div class="login-from-wrap">
            <h1 class="site-title">
                <a href="#">
                    <img src="/admin/assets/images/logoImage1.png" alt="">
                </a>
            </h1>
            <div class="form-group">
                <p>Password reset link generated for <%= email %>:</p>
                <p><a href="<%= resetUrl %>"><%= resetUrl %></a></p>
                <p>Click the link above to reset your password. This link will expire in 1 hour.</p>
            </div>
            <div class="form-group">
                <a href="/loginPage" class="button-primary w-100 text-center">Back to Login</a>
            </div>
        </div>
    </div>
    <%- include('../partials/toaster') %>

    <!-- Scripts -->
    <%- include('../partials/script') %>

</body>
</html>