
<!doctype html>
<html lang="en">
   <%- include('../partials/Header') %>
<body>
    <div class="login-page" style="background-image: url(/assets/images/bg.jpg);">
        <div class="login-from-wrap">
            <form class="login-from" action="/reset-password?token=<%= token %>&type=<%= userType %>" method="post">
                <h1 class="site-title">
                    <a href="#">
                        <img src="/admin/assets/images/logo.png" alt="">
                    </a>
                </h1>
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" name="password" class="validate" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" name="confirmPassword" class="validate" required>
                </div>
                <div class="form-group">
                    <button class="button-primary w-100" type="submit">Reset Password</button>
                </div>
                <a href="/loginPage" class="for-pass">Back to Login</a>
            </form>
        </div>
    </div>
    <%- include('../partials/toaster') %>

    <!-- Scripts -->
    <%- include('../partials/script') %>

</body>
</html>